@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";
@import "../../styles/extends/gradients";

.rick-morty-heading {
  font-weight: 700;
  font-size: 70px;
  @extend %text-gradient;

  @media screen and (max-width: 600px) {
    font-size: $font-ml;
  }

  &__secondary {
    font-size: $font-l;
    font-weight: $regular;

    @media screen and (max-width: 600px) {
      font-size: $font-xs;
    }
  }
}
