@import "../../styles/variables/fonts";
@import "../../styles/variables/spacing";
@import "../../styles/variables/colors";
@import "../../styles/variables/borders";

.rick-morty-character-card {
  display: flex;
  flex-direction: row;
  width: 500px;
  min-height: 220px;
  margin: $space-m;
  color: white;
  border: $border-width-normal solid $secondary-accent;
  border-radius: $border-radius-normal;

  &__image-wrapper {
    width: 80%;

    img {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      border-top-left-radius: $border-radius-normal;
      border-bottom-left-radius: $border-radius-normal;
      width: 100%;
      height: 100%;
      object-position: center center;
      object-fit: cover;
    }
  }

  &__details {
    width: 100%;
    padding: $space-normal;
    text-align: left;
  }

  &__name {
    font-size: 20px;
    font-weight: $bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 300px;
  }

  &__label {
    margin-top: $space-xs;
    font-size: $font-sm;
  }

  &__value {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $space-xs;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: auto;

    &__image-wrapper {
      min-height: 300px;
      min-width: 300px;
      width: 100%;

      img {
        border-top-left-radius: $border-radius-normal;
        border-top-right-radius: $border-radius-normal;
        border-bottom-left-radius: 0;
      }
    }

    &__details {
      width: auto;
    }
  }
}
