.rick-morty-listing {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;

  &__pagination {
    margin: 1rem 0;

    button {
      color: white;
    }

    .MuiPaginationItem-ellipsis {
      color: white;
    }
  }
}
