$space-xxl: 4rem; /* 64px normal */
$space-xl: 2.5rem; /* 40px normal */
$space-l: 1.875rem; /* 30px normal */
$space-m: 1.25rem; /* 20px normal */
$space-normal: 1rem; /* 16px normal */
$space-sm: 0.75rem; /* 12px normal */
$space-xs: 0.5rem; /* 8px normal */
$space-tiny: 0.375rem; /* 6px normal */
$space-nano: 0.25rem; /* 4px normal */
