@import "../../styles/variables/fonts";
@import "../../styles/variables/spacing";

.rick-morty-ep-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: $space-normal;
  min-height: 200px;

  &__heading {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: $font-xl;
    font-weight: $semibold;
  }

  &__ep-list {
    max-height: 300px;
    overflow-y: auto;
    padding-left: $space-normal;
  }

  &__loader-wrapper {
    align-self: center;
    margin-top: $space-xl;
  }
}
