@import "../../styles/variables/fonts";
@import "../../styles/variables/colors";
@import "../../styles/variables/spacing";

.rick-morty-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-family;

  &__pagination {
    margin: $space-normal 0;

    button {
      color: white;
    }

    .MuiPaginationItem-ellipsis {
      color: white;
    }

    .MuiPaginationItem-circular.Mui-selected {
      color: $primary-accent;
    }
  }
}
